[Desktop Entry]
Version=1.0
Name=Check Metanodes templates
Comment=Checks for the KNIME Metanodes templates repository updates
Exec=/usr/copied_files/metanodes_check.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/elementary-xfce/actions/48/rotate.png