[Desktop Entry]
Version=1.0
Name=Reset Metanodes templates - branch selection
Comment=Resets the git repository of the KNIME Metanodes templates to the selected branch
Exec=/usr/copied_files/metanodes_reset_branch.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/elementary-xfce/actions/48/go-jump.png
