[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/knimeuser/Desktop/Metanodes_templates_reset.desktop]
row=4
col=5

[/home/knimeuser/Desktop/Workflows_templates_reset_branch.desktop]
row=5
col=5

[/home/knimeuser/Desktop/Workflows_templates_reset.desktop]
row=3
col=5

[/home/knimeuser/Desktop/knime.desktop]
row=4
col=0

[/home/knimeuser/Desktop/Workflows_check.desktop]
row=2
col=5

[/home/knimeuser/Desktop/Metanodes_check.desktop]
row=1
col=5

[/home/knimeuser/Desktop/vnc_pass_set.desktop]
row=3
col=0

[/home/knimeuser/Desktop/Metanodes_templates_reset_branch.desktop]
row=6
col=5

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/knimeuser]
row=2
col=0

